body {
  background:#44868f;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 100%;
  height: 500px;
  margin: 30px auto;
}

.stopwatch {
  padding: 45% 10px;
  text-align: center;
}

.stopwatch span{
  background:#0a5c5a;
  color: #fff;
  display: inline-block;
  font-family: system-ui;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background:#ffffff;
  margin-top: 20px;
  border: none;
  font-family: system-ui;
  font-size: 15px;
  width: 70px;
  height: 40px;
}

.stopwatch .stopwatch-btn-stop{
  border: 2px solid #C85454;
  color: #C85454;
}
.stopwatch .stopwatch-btn-wait, .stopwatch .stopwatch-btn-resume{
  margin-left: 5px;
  border: 2px solid #c0c854;
  color:  #c0c854;
}
.stopwatch .stopwatch-btn-reset{
  margin-left: 7px;
  border: 2px solid #362bcf;
  color: #362bcf;
}